# Python artifacts
__pycache__/
*.pyc

# Jupyter notebooks
.ipynb_checkpoints/
*.ipynb_export/
*.ipynb_cache/

# Logs and experiment tracking
*.log
.wandb/
lightning_logs/
runs/

# Data files (adjust as needed)
notebook/llm-peft-ppm/data/
external/
logs/
achieve/
src/
skpm/

# *.csv
# *.csv.gz
*.parquet
*.npz
*.npy

# OS-specific clutter
.DS_Store

# Caches and environments
.cache/
.venv/

# Editor project files
.vscode/

# Archives (modify as needed)
.achieve/

# Experiment or temp folders
skpm/